@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: black;
}

.App {
  /* border: solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh
}

.header {
  /* border: solid 1px; */
  /* border-radius: 25%; */
  width: 100%;
  color: white;
  text-align: center;
  max-width: 100%;
  height: 100px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-image: url("https://media.istockphoto.com/id/531889697/photo/weather-forecast-concept.jpg?b=1&s=170667a&w=0&k=20&c=Jci9nrgcCSfOx8ZgfO9KbMKr3r0i28B1fwN20r8KmFA=");
  opacity: 0.8; /* 50% transparency */
}

.footer {
  /* border: solid 1px; */
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer a{
  border: solid 1px;
  text-decoration: none;
  border-radius: 50px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 300%;
  padding: 4px;
  color: white;
}



.main {
  /* border: solid 1px; */
  display: flex;
  flex-wrap: wrap;
}

.select {
  margin: 1rem 0px;
}

.weathercard {
  border: solid 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.weathercard img {
  height: 5rem;
  width: 5rem;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column; /* switch to column direction */
    align-items: center; /* center the cards vertically */
  }

  .header {
    height: 70px;
    font-size: 1rem;
  }
}
